<%- include('../header.ejs') %>
    <main>
        <h2>Lista pojazdów</h2>
    <table class="table-list">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Rejestracja</th>
            <th>Przebieg</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <% for (let car of cars) { %>
            <tr>
                <td><%= car.Marka %></td>
                <td><%= car.Tablica_Rejestracyjna %></td>
                <td><%= car.Przebieg %> <%= car.Jednostka_KmMil %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/car/details/<%=car.id_Pojazd%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/car/edit/<%=car.id_Pojazd%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/car/delete/<%=car.id_Pojazd%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>

    </tbody>

    <!-- <tbody>
        <tr>
            <td>Alfa Romeo</td>
            <td>WY 13920</td>
            <td>192564 km</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/car/details/:1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/car/edit/:1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Audi</td>
            <td>WGM 20139</td>
            <td>322564 km</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody> -->
    </table>

    <p><a href="/car/add" class="button-add">Dodaj nowy pojazd</a></p>
</main>
<%- include('../footer.ejs') %>