<%- include('../header.ejs') %>
<script type="application/javascript" src="/js/validationEmpForm.js"></script>
<script type="application/javascript" src="/js/validationCommon.js"></script>
    <main>
        <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">    
        <label for="lastname">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>

        <% if (!Object.keys(validationErrors).length === 0) {%>
            <input class="<%= validationErrors.find(e => e.path.includes('Nazwisko')) ? 'error-input' : '' %>" type="text" name="Nazwisko" value="<%= emp.Nazwisko %>" id="lastname" placeholder="2-60 znaków"/>
        <% } else{ %>  
            <input type="text" name="Nazwisko" value="<%= emp.Nazwisko %>" id="lastname" placeholder="2-60 znaków"/>
        <% } %>
        <span id="errorLastName" class="errors-text">
            <% if (!Object.keys(validationErrors).length === 0) {%>
                <% if (validationErrors.find(e => e.path.includes('Nazwisko'))) { %>
                    <%= validationErrors.find(e => e.path.includes('Nazwisko')).message %>
                <% } %>
            <% } %>
        </span>

        <label for="firstname">Imię:<abbr title="required" aria-label="required">*</abbr></label>
        <% if (!Object.keys(validationErrors).length === 0) {%>
            <input class="<%= validationErrors.find(e => e.path.includes('Imie')) ? 'error-input' : '' %>"type="text" name="Imie" value="<%= emp.Imie %>" id="firstname" placeholder="2-60 znaków"/>
            <% } else{ %>  
            <input type="text" name="Imie" value="<%= emp.Imie %>" id="firstname" placeholder="2-60 znaków"/>
        <% } %>
        <span id="errorFirstName" class="errors-text">
            <% if (!Object.keys(validationErrors).length === 0) {%>
                <% if (validationErrors.find(e => e.path.includes('Imie'))) { %>
                    <%= validationErrors.find(e => e.path.includes('Imie')).message %>
                <% } %>
            <% } %>
        </span>

        
        <label for="exp">Doświadczenie: <abbr title="required" aria-label="required">*</abbr></label>

        <% if (!Object.keys(validationErrors).length === 0) {%>
            <input class="<%= validationErrors.find(e => e.path.includes('Doswiadczenie')) ? 'error-input' : '' %>"type="text" name="Doswiadczenie" value="<%= emp.Doswiadczenie %>" id="exp" placeholder="1-100 znaków"/>
            <% } else{ %>  
                <input type="text" name="Doswiadczenie" value="<%= emp.Doswiadczenie %>" id="exp" placeholder="1-100 znaków"/>
        <% } %>
        <span id="errorExp" class="errors-text">
            <% if (!Object.keys(validationErrors).length === 0) {%>
                <% if (validationErrors.find(e => e.path.includes('Doswiadczenie'))) { %>
                    <%= validationErrors.find(e => e.path.includes('Doswiadczenie')).message %>
                <% } %>
            <% } %>
        </span>

        <input type="hidden" name="id_mechanic" value="<%= emp.id_mechanic %>">

    <div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input type="submit" value="Aktualizuj" class="form-button-submit"/>
    <a href="/mechanics" class="form-button-cancel">Anuluj</a>  
    </div>
</form>

</main>
<%- include('../footer.ejs') %>