<%- include('../header.ejs') %>
    <main>
        <h2><%= pageTitle %></h2>
        <form class="form" novalidate"> 
        <label for="damage" class="bold-txt">Uszkodzenia: </label>
        <input type="text" name="damage" value="<%= repair.OpisUszkodzenia %>" id="damage" disabled />
        <span id="errorRepairDamage" class="errors-text"></span>

        <label for="date" class="bold-txt">Data naprawy: </label>
        <input type="text" name="date" value="<%= repair.DataNaprawy.toISOString().split('T')[0] %>" id="date" disabled />
        <span id="errorRepairDate" class="errors-text"></span>

        <label for="price" class="bold-txt">Koszt: </label>
        <input type="number" name="price" value="<%= repair.KosztNaprawy %>" id="price" disabled>
        <span id="errorRepairPrice" class="errors-text"></span>

        <label for="mechanicname" class="bold-txt">Nazwisko mechanika: </label>
        <input type="text" name="mechanicname" value="<%= repair.Mechanik.Nazwisko %>" id="mechanicname" disabled />
        <span class="errors-text"></span>


        <label for="car" class="bold-txt">Pojazd (Rejestracja): </label>
        <input type="text" name="car" value="<%= repair.Pojazd.Tablica_Rejestracyjna %>" id="car" disabled />
        <span class="errors-text"></span> 
    </form>
    <a href="/repair/edit/<%= repair.id_Naprawa %>" class="list-actions-button-edit">Edytuj</a>  
    <h2>
        Mechanik:
    </h2>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Imie</th>
                <th>Doświadczenie</th>
            </tr>
        </thead>
        
    
        <tbody>
            <tr>
                <td><%= repair.Mechanik.Nazwisko %></td>
                <td><%= repair.Mechanik.Imie %></td>
                <td><%= repair.Mechanik.Doswiadczenie %></td>
            </tr>
        </tbody>
        </table>
        <br>
        <h2>
            Pojazd:
        </h2>
    
        <table class="table-list">
            <thead>
                <tr>
                    <th>Marka</th>
                    <th>Rejestracja</th>
                    <th>Przebieg</th>
                </tr>
            </thead>
            
        
            <tbody>
                <tr>
                    <td><%= repair.Pojazd.Marka %></td>
                    <td><%= repair.Pojazd.Tablica_Rejestracyjna %></td>
                    <td><%= repair.Pojazd.Przebieg %></td>
                </tr>
            </tbody>
            </table>
        <a href="/repair" class="list-actions-button-details form-buttons">Powrót</a>  


</main>
<%- include('../footer.ejs') %>